
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="authors">
    <div class="text-center">
        <div class="container">
            <div class="row mb-5">
                <div class="col">
                    <div class="info-header mb-5">
                        <h1 class="text-primary">
                            Who we are and What we do
                        </h1>
                        <h4 class="mb-5">Consultancy Bridge is learning management, delivery solutions to individual spreading across US & India, making the most of your abilities as you contribute, succeed and grow with a dynamic company</h4>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/Content/Images/Tanuj.jpg" class="img-fluid img-circle w-50">
                            <H3> Tanuj Nayanam </H3>
                            <h5 class="text-muted"> CEO </h5>
                            <p class="lead">I rush through new ideas to make sure that candidates are satisfied with our services.</p>
                            <div class="d-flex justify-content-center">
                                <a href="https://www.linkedin.com/in/tnayanam/" target="_blank" rel="nofollow">
                                        <i class="fa fa-linkedin-square"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/Content/Images/Ritolia.JPG" class="img-fluid img-circle w-50">
                            <H3> Vaibhaw Ritolia </H3>
                            <h5 class="text-muted"> COO </h5>
                            <p class="lead">I manage the company's day-to-day operations such as production, marketing and sales.</p>
                            <div class="d-flex justify-content-center">
                                <a href="https://www.linkedin.com/in/vaibhaw-ritolia-5676381a/" target="_blank" rel="nofollow">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/Content/Images/Prateek.jpg" class="img-fluid img-circle w-50">
                            <H3> Prateek Yadav</H3>
                            <h5 class="text-muted"> CTO </h5>
                            <p class="lead">I make sure that our site works. And if it's not working... your computer is probably broken :)</p>
                            <div class="d-flex justify-content-center">
                                <a href="https://www.linkedin.com/in/prateek-y-058029141/" target="_blank" rel="nofollow">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/Content/Images/Vikash.jpg" class="img-fluid img-circle w-50">
                            <H3> Vikash Kumar </H3>
                            <h5 class="text-muted"> CFO </h5>
                            <p class="lead">I manage the company's finances including financial planning, risk and reporting</p>
                            <div class="d-flex justify-content-center">
                                <a href="https://www.linkedin.com/in/vikash-k-ba42a7a9/" target="_blank" rel="nofollow">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




