@model ConsultancyBridge.ViewModel.ContactViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Message != null)
{
    <span>@ViewBag.Message</span>
}



rajajjjjj