@{
    ViewBag.Title = "ConsultancyBridge";
}
<div id="myCarousel" class="carousel slide css-carousel-color" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">

            <img class="imgbanner" src="~/Content/Images/training_pic1.jpg" alt="Los Angeles" style="width:100%;opacity:0.5;">
            <div class="carousel-caption">
                <h2>Kick Start your career with Dream Company</h2>
                <h5> 100% Placement Assistance <br /></h5>
                <h5> Great Learning Experience with on Site Training<br /></h5>
                <h5> Exposure to cutting-edge Technologies <br /></h5>
                <h5> Students Placed on Higher Packages <br /></h5>
            </div>
        </div>
    </div>
</div>
<div class="how page-content">
    <div class="how-content">
        <div class="how-content-block">
            <h3 class="how-header brand-bold">How Consultancy Bridge Works</h3>
            <ul class="how-content-list">
                <li class="how-content-list-item">
                    <div class="how-icon"><i class="fa fa-search fa-2x"></i></div>
                    <p class="css-bold">
                        Share your profile and get enrolled with us
                        @*Provide effective Classroom Training with Hands On experience <br> to the candidate.*@
                    </p>
                </li>
                <li class="how-content-list-item">
                    <div class="how-icon"><i class="fa fa-handshake-o fa-2x"></i></div>
                    <p class="css-bold">
                        Get an unmatched experience & expertise in HR field and Operational services
                        @*Build the candidate professional Resume and Cover Letter<br> showcase it to the Professional Network*@
                    </p>
                </li>
                <li class="how-content-list-item">
                    <i class="" aria-hidden="true"></i>
                    <div class="how-icon"><i class="fa fa-users fa-2x"></i></div>
                    <p class="css-bold">
                        Become a part of our community of top-tier networkers
                        @*Get Placed on Higher Packages*@
                    </p>
                </li>
                <li class="how-content-list-item">
                    <i class="" aria-hidden="true"></i>
                    <div class="how-icon"><i class="fa fa-usd fa-3x"></i></div>
                    <p class="css-bold">
                        @*Become a part of our community of top-tier networkers*@
                        Get Placed on Higher Packages
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="how page-content">
    <div class="how-content">
        <div class="how-content-block">
            <h4 class="how-header brand-bold">Benefits of Consultancy Bridge's Services</h4>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 how-content-list-item">
                        <i class="" aria-hidden="true"></i>
                        <div class="how-icon"><i class="fa fa-lock fa-2x"></i></div>
                        <div class="css-text">
                            <h4 class="css-bold mb-5">Resume Builder</h4>
                            <div>
                                <h4> Write a resume using the advanced professional template </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 how-content-list-item">
                        <i class="" aria-hidden="true"></i>
                        <div class="how-icon"><i class="fa fa-lock fa-2x"></i></div>
                        <div class="css-text">
                            <h4 class="css-bold mb-5">Cover Letter Builder</h4>
                            <div>
                                <h4> Write a cover letter using the same templates as your resume </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 how-content-list-item">
                        <i class="" aria-hidden="true"></i>
                        <div class="how-icon"><i class="fa fa-user-circle fa-2x"></i></div>
                        <div class="css-text">
                            <h4 class="css-bold mb-5">Professional network builder</h4>
                            <div>
                                <h4> We create professional account which help in network builder </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4 how-content-list-item">
                        <i class="" aria-hidden="true"></i>
                        <div class="how-icon"><i class="fa fa-line-chart fa-2x"></i></div>
                        <div class="css-text">
                            <h4 class="css-bold mb-5">Track Your Profile</h4>
                            <div>
                                <h4> Find out if employers are reading and downloading your resume and cover letter </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 how-content-list-item">
                        <i class="" aria-hidden="true"></i>
                        <div class="how-icon"><i class="fa fa-video-camera fa-2x"></i></div>
                        <div class="css-text">
                            <h4 class="css-bold mb-5">Motivational Speech</h4>
                            <div>
                                <h4> Motivational speech from the Global CEO </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 how-content-list-item">
                        <i class="" aria-hidden="true"></i>
                        <div class="how-icon"><i class="fa fa-lightbulb-o fa-3x"></i></div>
                        <div class="css-text">
                            <h4 class="css-bold mb-5">Follow Tips from Expert</h4>
                            <div>
                                <h4> Our experts' tips will show you how to handle interviews </h4>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>



    </div>
</div>
        </div>
