<div class="row">
    <div class="col-sm-4"><p>&copy;@DateTime.Now.Year ConsultancyBridge. All Rights Reserved.</p></div>
    <div class="col-sm-offset-3 col-sm-5">
        <ul class="css-footer">
            <li class="pipe"> @Html.ActionLink("About Us", "About", "Home") </li>
            <li class="pipe">@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            <li class="pipe">@Html.ActionLink("Terms of Service", "Terms", "Home")</li>
            <li class="pipe">@Html.ActionLink("Privacy Policy", "Privacy", "Home")</li>
            <li>
                <a href="https://www.facebook.com/ReferVille-825521247625302/" target="_blank" rel="nofollow">
                    <span class="fa-stack fa-sm">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/ReferVille" target="_blank" rel="nofollow">
                    <span class="fa-stack fa-sm">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/18262549/" target="_blank" rel="nofollow">
                    <span class="fa-stack fa-sm">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>